/* line 4, ../scss/components/_user-section.scss */
.user-section .user-section__details,
.user-section .user-section__gravatar {
  display: inline-block;
  vertical-align: middle;
}
/* line 9, ../scss/components/_user-section.scss */
.user-section .user-section__details {
  text-align: right;
}
/* line 11, ../scss/components/_user-section.scss */
.user-section .user-section__details a {
  display: block;
}
/* line 14, ../scss/components/_user-section.scss */
.user-section .user-section__details a:first-child {
  margin-top: 5px;
}
